In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("index.csv")

In [3]:
df.head()

   C  A  8   0  S  0.1   COIL    0.7     610  0.2  0.3  3
0  C  R  0   0  S    0   COIL  3.200   610.0    0    0  3
1  C  R  0   0  S    0  SHEET  0.700  1300.0  762    0  3
2  C  A  0  60  ?    0   COIL  2.801   385.1    0    0  3
3  C  A  0  60  ?    0  SHEET  0.801   255.0  269    0  3
4  C  A  0  45  S    0   COIL  1.600   610.0    0    0  3

In [6]:
df.shape

(256, 12)

In [7]:
df.tail()

     C  A   8   0  S  0.1   COIL    0.7    610   0.2  0.3  3
251  C  A   0  60  ?    0   COIL  0.799  609.0     0    0  3
252  C  R   6   0  ?    0  SHEET  1.000  610.0  4880    0  3
253  C  A   0  50  ?    0   COIL  0.600   20.0     0    0  3
254  C  K  45   0  ?    0   COIL  0.600  900.0     0    0  3
255  C  R   6   0  ?    0  SHEET  1.000  610.0   762    0  3

In [8]:
df.tail(10)

     C  A   8   0  S  0.1   COIL    0.7     610   0.2  0.3  3
246  C  R   0   0  S    0   COIL  0.901   966.0     0    0  3
247  C  A   0   0  S    0  SHEET  0.700   610.0   762    0  3
248  C  A   0   0  S    0   COIL  0.800    75.0     0    0  3
249  C  R   0   0  S    0  SHEET  0.700  1320.0   762    0  3
250  C  A   0  50  ?    0  SHEET  0.601  1250.0   762    0  3
251  C  A   0  60  ?    0   COIL  0.799   609.0     0    0  3
252  C  R   6   0  ?    0  SHEET  1.000   610.0  4880    0  3
253  C  A   0  50  ?    0   COIL  0.600    20.0     0    0  3
254  C  K  45   0  ?    0   COIL  0.600   900.0     0    0  3
255  C  R   6   0  ?    0  SHEET  1.000   610.0   762    0  3

In [9]:
df.columns

Index(['C', 'A', '8', '0', 'S', '0.1', 'COIL', '0.7', '610', '0.2', '0.3',
       '3'],
      dtype='object')

In [10]:
df['COIL']

0       COIL
1      SHEET
2       COIL
3      SHEET
4       COIL
5      SHEET
6       COIL
7       COIL
8      SHEET
9       COIL
10     SHEET
11     SHEET
12      COIL
13     SHEET
14     SHEET
15      COIL
16     SHEET
17     SHEET
18      COIL
19     SHEET
20      COIL
21      COIL
22      COIL
23      COIL
24      COIL
25     SHEET
26     SHEET
27      COIL
28      COIL
29     SHEET
       ...
226    SHEET
227     COIL
228     COIL
229     COIL
230    SHEET
231    SHEET
232    SHEET
233    SHEET
234     COIL
235     COIL
236    SHEET
237     COIL
238     COIL
239    SHEET
240    SHEET
241     COIL
242     COIL
243     COIL
244     COIL
245    SHEET
246     COIL
247    SHEET
248     COIL
249    SHEET
250    SHEET
251     COIL
252    SHEET
253     COIL
254     COIL
255    SHEET
Name: COIL, Length: 256, dtype: object

In [11]:
df[:3]

   C  A  8   0  S  0.1   COIL    0.7     610  0.2  0.3  3
0  C  R  0   0  S    0   COIL  3.200   610.0    0    0  3
1  C  R  0   0  S    0  SHEET  0.700  1300.0  762    0  3
2  C  A  0  60  ?    0   COIL  2.801   385.1    0    0  3

In [12]:
df.iloc[:3]

   C  A  8   0  S  0.1   COIL    0.7     610  0.2  0.3  3
0  C  R  0   0  S    0   COIL  3.200   610.0    0    0  3
1  C  R  0   0  S    0  SHEET  0.700  1300.0  762    0  3
2  C  A  0  60  ?    0   COIL  2.801   385.1    0    0  3

In [13]:
df.iloc[:2,:3]

   C  A  8
0  C  R  0
1  C  R  0

In [14]:
df[df['COIL'] == 'SHEET']

     C  A   8   0  S  0.1   COIL    0.7     610   0.2  0.3  3
1    C  R   0   0  S    0  SHEET  0.700  1300.0   762    0  3
3    C  A   0  60  ?    0  SHEET  0.801   255.0   269    0  3
5    C  R   0   0  S    0  SHEET  0.699   610.0  4880    0  3
8    C  A   0   0  S    0  SHEET  1.000  1320.0   762    0  3
10   C  R   0   0  S    0  SHEET  0.300  1320.0  4880    0  3
11   C  R   0   0  S    0  SHEET  1.200   610.0   150    0  3
13   C  A   0   0  S    0  SHEET  0.600  1220.0   761    0  3
14   C  A   0   0  S    0  SHEET  4.000  1320.0   762    0  3
16   C  A   0  80  ?    0  SHEET  0.800   610.0  4170    0  U
17   C  A   0   0  S    0  SHEET  3.200  1320.1   762    0  3
19   C  A   0   0  S    0  SHEET  0.600   610.0   761    0  3
25   C  A   0  60  ?    0  SHEET  0.800   356.0  4880    0  3
26   C  R   0   0  S    0  SHEET  0.700   609.9  4170    0  3
29   C  A   0   0  ?    0  SHEET  0.600   610.0  4880    0  5
30   C  ?   0  45  S    0  SHEET  1.400  1320.0  4170    0  3
31   C  A   0  45  S    0  SHEET  0.699  1320.0   762    0  3
33   C  A   0   0  S    0  SHEET  0.750  1320.0  4880    0  3
38   C  R   0   0  S    0  SHEET  1.600   374.9  4880    0  3
40   C  R   0   0  S    0  SHEET  0.699  1320.0  4880    0  3
42   C  R   0   0  S    0  SHEET  0.600   610.0   762    0  3
44   C  A   0   0  S    0  SHEET  0.600   610.0   301    0  3
45   C  R   0   0  S    0  SHEET  0.601   610.0  4880    0  3
46   C  A   0  45  S    0  SHEET  0.700  1320.0  4880    0  3
48   C  A   0   0  S    0  SHEET  0.699  1320.0  4880    0  3
49   C  A   0   0  S    0  SHEET  0.700   609.9   762    0  3
50   C  ?   0   0  S    0  SHEET  0.300  1320.0   761    0  3
51   C  R   0   0  S    0  SHEET  1.599  1300.0   762    0  3
52   C  A   0  45  S    0  SHEET  0.599   150.0  4880    0  3
54   C  R   0   0  S    0  SHEET  0.700   374.9  4880    0  3
55   C  ?   0   0  A    0  SHEET  0.301   610.0   762    0  3
..  .. ..  ..  .. ..  ...    ...    ...     ...   ...  ... ..
198  C  A   0  45  S    0  SHEET  0.300   610.0   762    0  3
200  C  R   0   0  S    0  SHEET  3.200   610.0   762    0  3
203  C  A   0   0  S    0  SHEET  0.300  1320.0   762    0  3
204  C  R   0   0  S    0  SHEET  0.699   610.0   762    0  3
206  C  R   0   0  S    0  SHEET  0.300   595.0  4880    0  3
207  C  A   0   0  S    0  SHEET  0.600  1220.0  4880    0  3
208  C  A   0   0  S    0  SHEET  0.699   609.9  4880    0  3
209  C  S  70   0  ?    0  SHEET  2.000  1000.0  4880    0  3
210  C  A   0   0  S    0  SHEET  1.000   610.0  4880    0  3
215  C  A   0  45  S    0  SHEET  1.600   610.0   762    0  3
217  C  R   0   0  S    0  SHEET  0.800  1300.0   762    0  2
218  C  ?   0   0  A    0  SHEET  0.301  1320.0  4880    0  3
220  C  R   0   0  S    0  SHEET  3.200  1320.0   762    0  3
222  C  A   0   0  S    0  SHEET  0.699   520.0  4880    0  3
223  C  M   0   0  ?  600  SHEET  0.900   610.0  1220    0  2
224  C  R   0   0  S    0  SHEET  3.200  1300.0   762    0  3
226  C  R   0   0  S    0  SHEET  1.599   610.0   761    0  2
230  C  A   0  45  S    0  SHEET  0.599   610.0   761    0  3
231  C  A   0   0  S    0  SHEET  0.699   610.0   400    0  3
232  C  A   0  45  S    0  SHEET  1.600  1320.0   612    0  3
233  C  ?   0   0  A    0  SHEET  0.500   609.9   612    0  5
236  C  A   0   0  S    0  SHEET  0.600   610.0   762    0  3
239  C  R   0   0  S    0  SHEET  3.200  1300.0   762    0  3
240  C  A   0   0  S    0  SHEET  1.599  1320.0   762    0  3
245  C  R   0   0  S    0  SHEET  0.800  1320.0   762    0  2
247  C  A   0   0  S    0  SHEET  0.700   610.0   762    0  3
249  C  R   0   0  S    0  SHEET  0.700  1320.0   762    0  3
250  C  A   0  50  ?    0  SHEET  0.601  1250.0   762    0  3
252  C  R   6   0  ?    0  SHEET  1.000   610.0  4880    0  3
255  C  R   6   0  ?    0  SHEET  1.000   610.0   762    0  3

[128 rows x 12 columns]

In [15]:
df[df['0.2'] > 150.0].iloc[:5]

    C  A  8   0  S  0.1   COIL    0.7     610   0.2  0.3  3
1   C  R  0   0  S    0  SHEET  0.700  1300.0   762    0  3
3   C  A  0  60  ?    0  SHEET  0.801   255.0   269    0  3
5   C  R  0   0  S    0  SHEET  0.699   610.0  4880    0  3
8   C  A  0   0  S    0  SHEET  1.000  1320.0   762    0  3
10  C  R  0   0  S    0  SHEET  0.300  1320.0  4880    0  3

In [16]:
import re

In [17]:
result = re.match(r'AV', 'AV Analytics Vidhya AV')

In [19]:
print(result)

<re.Match object; span=(0, 2), match='AV'>

In [20]:
print(result.group(0))

AV

In [21]:
result = re.match(r'Analytics', 'AV Analytics Vidhya AV')

In [22]:
print(result)

None

In [23]:
result = re.match(r'AV', 'AV Analytics Vidhya AV')

In [24]:
print(result.start())

0

In [25]:
print(result.end())

2